<div class="container">
  <div class="page">
    <div class="page-header">
      <h1 class="page-title"><%= @email.subject %></h1>
    </div>

    <div class="page-actions">
      <div class="btn-toolbar">
        <div class="btn-group">
          <%= link_to t('hi_there.previews.actions.send_email'), deliver_email_preview_path(@email), class: 'btn btn-default' %>
        </div>
      </div>
    </div>

    <div class="page-body">
      <div class="email-body-preview">
        <%= @body.html_safe %>
      </div>
    </div>
  </div>
</div>
