<tr>
  <td class="course-subs-email"><%= subscription.email %></td>
  <td><%= subscription.current_state %></td>
  <td><%= subscription.previous_email.try(:issue_number)%></td>
  <td><%= l subscription.created_at, format: :short %></td>
</tr>