<tr>
  <td><%= subscription.email %></td>
  <td><%= subscription.current_state %></td>
  <td><%= subscription.previous_issue_number %></td>
  <td><%= l subscription.created_at, format: :short %></td>
</tr>