<div class="page">
  <%= render partial: 'hi_there/shared/page_header', 
             locals: {
               title: @course.title               
             } %>                  

  <div class="page-body">
    <div class="container">

      <h2 class="page-subtitle"><%= t('hi_there.courses.subscriptions.index.title', count: @course.subscriptions.count ) %></h2>
      <table class="course-subs-list table">
        <thead>
          <tr>        
            <th>Email</th>
            <th>Status</th>
            <th>Current issue</th>
            <th>Opted in at</th>
          </tr>
        </thead>

        <tbody class="course-emails-list">
          <%= render partial: 'hi_there/courses/subscriptions/subscription', collection: @subscriptions %>
        </tbody>
      </table>  
    </div>
  </div>
</div>