<% meta ||= nil %>
<div class="page-header">
  <div class="container">
    <h1 class="page-title"><%= title %></h1>
    <% if meta.present? %>
      <h4 class="page-title-meta"><%= meta  %></h4>
    <% end %>
  </div>
</div>