<!DOCTYPE html>
<html>
<head>
  <title>HiThere</title>
  <%= stylesheet_link_tag    "hi_there/application", media: "all" %>
  <%= javascript_include_tag "hi_there/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
