<div class="page">
  <%= render partial: 'hi_there/shared/page_header', 
             locals: {
               title:  link_to(@course.title, course_path(@course))
             } %>
  <div class="page-body">
    <div class="container">
      <h2 class="page-subtitle"><%= t('hi_there.courses.edit.title') %></h2>
      <%= render partial: 'hi_there/courses/form', locals: {course: @course} %>
    </div>
  </div>
</div>
