<div class="container">
  <div class="page">
    <div class="page-header">
      <h1 class="page-title"><%= t('hi_there.courses.index.title') %></h1>
    </div>

    <div class="page-actions">
      <div class="btn-toolbar">
        <div class="bth-group">
          <%= link_to t('hi_there.courses.actions.new'), new_course_path, class: 'btn btn-default' %>
        </div>
      </div>  
    </div>

    <div class="page-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: @courses %>
        </tbody>
      </table>
    </div>
  </div>
</div>
