<div class="container">
  <div class="page-heading">
    <h1 class="page-title"><%= t('hi_there.courses.index.title') %></h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>How to lose weight in 7 days</td>
      </tr>

      <tr>
        <td>The secrets to wealth</td>
      </tr>
    </tbody>
  </table>
</div>
