<div class="page">
  <%= render partial: 'hi_there/shared/page_header', 
             locals: {
               title: link_to(@course.title, course_path(@course))              
             } %>

  <div class="page-body">
    <div class="container">
      <%= render partial: 'form', locals: { course: @course, email: @email } %>
    </div>
  </div>
</div>

