<div class="page">
  <%= render partial: 'hi_there/shared/page_header', 
             locals: {
               title: @course.title, 
               meta: t("hi_there.courses.current_state.#{@course.current_state}")
             } %>

  <%= render partial: 'hi_there/courses/tabs', locals: { course: @course } %>

  <div class="page-body">
    <div class="container">
      <h2 class="page-subtitle"><%= t('hi_there.emails.edit.title') %></h2>
      
      <%= render partial: 'form', locals: { course: @course, email: @email } %>
    </div>
  </div>
</div>

