<div class="page">
  <%= render partial: 'hi_there/shared/page_header', 
             locals: {
               title:  link_to(@course.title, course_path(@course))
             } %>

  <div class="page-body">
    <div class="container">
      <h2 class="page-subtitle"><%= t('hi_there.emails.new.title') %></h2>
      <%= render partial: 'form', locals: { course: @course, email: @email } %>
    </div>
  </div>
</div>

