<div class="container">
  <div class="sub-box">
    <div class="sub-box-body">
      <h1 class="sub-box-title"><%= t('hi_there.subscriptions.thank_you') %></h1>
      <p class="lead"><%= t('hi_there.subscriptions.confirmed') %></p>
    </div>
  </div> 
</div>